body{
    font-family: 'Geologica', sans-serif;
    font-size: 1.2rem;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.interface{
    /* width: 500px; */
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    padding: 10px;
}

.output{
    /* width: 500px; */
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    /* align-items: revert; */
    justify-content: center;
    border:1px solid black;
}